<!-- chart-card4.component.html -->
<mat-card class="chart-card4">
    <mat-card-header class="header-menu">
        <mat-card-title>Students</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="chart-container">
            <div style="display: block; width: 240px; height: 240px;">
                <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType"
                    [options]="doughnutChartOptions">
                </canvas>
            </div>
        </div>
        <div class="statistics">
            <div class="stat-item male">
                <span class="count">{{maleCount | number}}</span>
                <span class="label">Male Students</span>
            </div>
            <div class="stat-item female">
                <span class="count">{{femaleCount | number}}</span>
                <span class="label">Female Students</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>