@use "@angular/material" as mat;
:host ::ng-deep .btnStyle1 {
  @include mat.button-overrides(
    (
      filled-container-color: #0b8400,
      filled-label-text-color: #ffffff,
    )
  );
}
:host ::ng-deep .btnStyle2 {
  @include mat.button-overrides(
    (
      filled-container-color: #fd7e14,
      filled-label-text-color: #ffffff,
    )
  );
}

:host ::ng-deep .btnStyle3 {
  @include mat.button-overrides(
    (
      filled-container-color: #0d6efd,
      filled-label-text-color: #ffffff,
    )
  );
}
