:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}
:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}
:host ::ng-deep .mat-column-teacherName {
  min-width: 150px;
}
:host ::ng-deep .mat-column-teacherId {
  max-width: 80px;
}
:host ::ng-deep .mat-column-classId {
  max-width: 80px;
}
