<table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                color="primary" [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'" color="primary">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    @for (column of columnDefinitions; track column) {
    <!-- Skip rendering if column.label is "select" or "action" -->
    @if (column.type === 'check' || column.type === 'actionBtn') {
    <!-- Skip this column -->
    } @else {
    @if (column.def === 'name') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row.name">
            <span class="mobile-label">{{ column.label }}:</span>
            <img [src]="row.img" class="table-img" alt="image" />
            <span class="truncate-text">
                {{ row.name }}
            </span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'phone') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span> <mat-icon
                class="tbl-icon material-icons-outlined col-green">call</mat-icon><span class="truncate-text">
                {{ row[column.def] }}</span></mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'email') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span> <mat-icon
                class="tbl-icon material-icons-outlined col-red">mail</mat-icon><span class="truncate-text">
                {{ row[column.def] }}</span></mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'address') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span> <mat-icon
                class="tbl-icon material-icons-outlined col-blue">place</mat-icon><span class="truncate-text">
                {{ row[column.def] }}</span></mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'file') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span>
            <button mat-icon-button color="accent" class="tbl-action-btn" (click)="$event.stopPropagation()">
                <app-feather-icons [icon]="'file-text'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'button') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span>
            <button mat-button color="primary" (click)="$event.stopPropagation()">Details</button>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.def === 'status') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span class="truncate-text">{{
                column.label
                }}</span></mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label">{{ column.label }}:</span>
            <div>
                @switch (row.status) {
                @case ('Paid') {
                <div>
                    <span class="badge badge-solid-green">{{ row.status }}</span>
                </div>
                }
                @case ('Not Paid') {
                <div>
                    <span class="badge badge-solid-red">{{ row.status }}</span>
                </div>
                }
                @case ('Partially Paid') {
                <div>
                    <span class="badge badge-solid-orange">{{ row.status }}</span>
                </div>
                }
                @case ('Issue') {
                <div>
                    <span class="badge badge-solid-green">{{ row.status }}</span>
                </div>
                }
                @case ('Return') {
                <div>
                    <span class="badge badge-solid-purple">{{ row.status }}</span>
                </div>
                }
                @case ('In Progress') {
                <div>
                    <span class="badge badge-solid-purple">{{ row.status }}</span>
                </div>
                }
                @case ('Completed') {
                <div>
                    <span class="badge badge-solid-green">{{ row.status }}</span>
                </div>
                }
                @case ('Pending') {
                <div>
                    <span class="badge badge-solid-blue">{{ row.status }}</span>
                </div>
                }
                @case ('Approve') {
                <div>
                    <span class="badge badge-solid-green">{{ row.status }}</span>
                </div>
                }
                @case ('Reject') {
                <div>
                    <span class="badge badge-solid-orange">{{ row.status }}</span>
                </div>
                }
                @case ('Not Started') {
                <div>
                    <span class="badge badge-solid-orange">{{ row.status }}</span>
                </div>
                }
                }
            </div>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'priority') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span>

            <!-- Conditionally set icon based on priority value -->
            <mat-icon *ngIf="row[column.def] === 'Low'"
                class="tbl-icon material-icons-outlined col-green">arrow_downward</mat-icon>
            <mat-icon *ngIf="row[column.def] === 'Medium'"
                class="tbl-icon material-icons-outlined col-purple">unfold_more</mat-icon>
            <mat-icon *ngIf="row[column.def] === 'High'"
                class="tbl-icon material-icons-outlined col-red">arrow_upward</mat-icon>

            <span class="truncate-text">{{ row[column.def] }}</span>
        </mat-cell>
    </ng-container>

    } @else {
    @if (column.def === 'gender') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span class="truncate-text">{{
                column.label
                }}</span></mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label">{{ column.label }}:</span>
            <div>
                @switch (row.gender) {
                @case ('Male') {
                <div>
                    <span class="badge badge-solid-green">{{ row.gender }}</span>
                </div>
                }
                @case ('Female') {
                <div>
                    <span class="badge badge-solid-purple">{{ row.gender }}</span>
                </div>
                }
                }
            </div>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'date') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label">{{ column.label }}:</span>
            <mat-icon class="tbl-icon material-icons-outlined col-brown">calendar_today</mat-icon>
            <span class="truncate-text">
                {{ row[column.def] | date: 'MM/dd/yyyy' }}
            </span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'team') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label">{{ column.label }}:</span>
            <span class="truncate-text">
                <!-- Check if employeesTeam has data -->
                <ul *ngIf="row.employeesTeam?.length > 0" class="list-unstyled order-list">
                    <!-- Loop through the first 3 employees -->
                    <li *ngFor="let employee of row.employeesTeam; let i = index" class="avatar avatar-sm"
                        [ngClass]="{'d-none': i >= 3}">
                        <img class="rounded-circle" [src]="'assets/images/user/' + employee.avatar"
                            [alt]="employee.name" />
                    </li>

                    <!-- Show a badge for the remaining employees if there are more than 3 -->
                    <li *ngIf="row.employeesTeam.length > 3" class="avatar avatar-sm">
                        <span class="badge">+{{row.employeesTeam.length - 3}}</span>
                    </li>
                </ul>

                <!-- Optionally display a message if the team is empty -->
                <span *ngIf="row[column.def]?.employeesTeam?.length === 0" class="no-data">
                    No employees in team.
                </span>
            </span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'progressBar') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>

        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label">{{ column.label }}:</span>

            <mat-progress-bar mode="determinate" [value]="row[column.def]"
                [color]="getProgressBarColor(row[column.def])">
            </mat-progress-bar>
        </mat-cell>
    </ng-container>

    } @else {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label">{{ column.label }}:</span>
            <span class="truncate-text">{{ row[column.def] }}</span>
        </mat-cell>
    </ng-container>
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }

    <!-- actions -->
    <ng-container matColumnDef="actions">
        <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
            <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)">
                <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
            <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)">
                <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
        [style.cursor]="'pointer'" matRipple>
    </mat-row>
</table>