:host ::ng-deep .mat-column-stdId {
  max-width: 90px;
}
:host ::ng-deep .mat-column-employeesTeam {
  min-width: 130px;
}
:host ::ng-deep .mat-column-id {
  max-width: 90px;
}
:host ::ng-deep .mat-column-name {
  min-width: 150px;
}
