<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <label class="hoverable" for="tableFileInput">
        <img [src]='teachers.img' alt="avatar">
      </label>
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="teacherForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (teacherForm.get('name')?.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department" required>
              <mat-option value="mechanical">Mechanical</mat-option>
              <mat-option value="science">Science</mat-option>
              <mat-option value="mathematics">Mathematics</mat-option>
              <mat-option value="computer">Computer</mat-option>
              <mat-option value="civil">Civil</mat-option>
            </mat-select>
            @if (teacherForm.get('department')?.hasError('required')) {
            <mat-error>
              Department is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
            @if (teacherForm.get('gender')?.hasError('required')) {
            <mat-error>
              Gender is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Degree</mat-label>
            <input matInput formControlName="degree" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>school</mat-icon>
            @if (teacherForm.get('degree')?.hasError('required')) {
            <mat-error>
              Degree is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>phone</mat-icon>
            @if (teacherForm.get('mobile')?.hasError('required')) {
            <mat-error>
              Mobile is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>email</mat-icon>
            @if (teacherForm.get('email')?.hasError('required') || teacherForm.get('email')?.touched) {
            <mat-error>
              Please enter a valid email address
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Joining Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hire_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (teacherForm.get('hire_date')?.hasError('required')) {
            <mat-error>
              Please select a date
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
            @if (teacherForm.get('address')?.hasError('required')) {
            <mat-error>
              Address is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Salary</mat-label>
            <input matInput formControlName="salary" type="number" required>
            @if (teacherForm.get('salary')?.hasError('required')) {
            <mat-error>
              Salary is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Subject Specialization</mat-label>
            <input matInput formControlName="subject_specialization" required>
            @if (teacherForm.get('subject_specialization')?.hasError('required')) {
            <mat-error>
              Subject specialization is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Years of Experience</mat-label>
            <input matInput formControlName="experience_years" type="number" required>
            @if (teacherForm.get('experience_years')?.hasError('required')) {
            <mat-error>
              Experience years are required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option value="active">Active</mat-option>
              <mat-option value="inactive">Inactive</mat-option>
            </mat-select>
            @if (teacherForm.get('status')?.hasError('required')) {
            <mat-error>
              Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="birthPicker" formControlName="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthPicker></mat-datepicker>
            @if (teacherForm.get('birthdate')?.hasError('required')) {
            <mat-error>
              Birthdate is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Bio</mat-label>
            <textarea matInput formControlName="bio" rows="3"></textarea>
            @if (teacherForm.get('bio')?.hasError('required')) {
            <mat-error>
              Bio is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!teacherForm.valid" type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>