<div class="card">
    <div class="body">
        <div class="row align-items-center">
            <div class="col-md-8 mb-0">
                <p class="font-b-500">
                    Welcome back
                </p>
                <div class="font-b-500 font-25 col-blue mb-2">DR. Sarah Smith!</div>
                <p class="font-b-500 mb-4">Gynecologist, MBBS,MD </p>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-1"><span class="font-b-500">Appointments</span>
                            <h5 class="mb-0 text-primary">12+ </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-2"><span class="font-b-500">Surgeries</span>
                            <h5 class="mb-0 text-danger">3+ </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-3"><span class="font-b-500">Room Visit</span>
                            <h5 class="mb-0 text-success">12+ </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <img src="assets/images/pages/doctors.svg" alt="" class="w-100 image-top">
            </div>
        </div>
    </div>
</div>