<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Exam Schedule</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" #filter (keyup)="applyFilter($event)"
                    class="browser-default search-field" aria-label="Search box">
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button mat-icon-button color="primary" (click)="select.open()" matTooltip="Show/Hide Column">
                      <mat-icon>filter_list</mat-icon>
                      <mat-select #select [(ngModel)]="filter.value" style="width: 200px; display: table;"
                        class="column-filter">
                        <span class="table-column-label">Show/Hide Column</span>
                        @for (cd of columnDefinitions; track cd; let i = $index) {
                        <div>
                          <mat-option>
                            <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="cd.visible" color="primary">
                              {{cd.label}}
                            </mat-checkbox>
                          </mat-option>
                        </div>
                        }
                      </mat-select>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10">
                    <button mat-icon-button (click)="exportExcel()" class="col-blue" matTooltip="Xlsx Download">
                      <mat-icon class="material-icons-outlined">file_download</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                @for (column of columnDefinitions; track column) {
                <ng-container [matColumnDef]="column.def">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="truncate-text">{{ column.label }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{ column.label }}:</span>
                    <span class="truncate-text">{{ row[column.def] }}</span>
                  </mat-cell>
                </ng-container>
                }
                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: getDisplayedColumns();"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
              <!-- Loading spinner -->
              @if (isLoading) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (isLoading) {
              <div class="no-results" [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                No results
              </div>
              }
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>