<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <p class="m-b-15 font-b-500 font-18">{{ title }}</p>
                <p class="text-muted font-12">{{ subtitle }}</p>
            </div>
            <p [ngClass]="valueClass" class="font-18 font-b-600">{{ value }}</p>
        </div>
        <div class="card-content mt-2">
            <div class="progress skill-progress m-b-5 w-100">
                <div [ngClass]="progressClass" role="progressbar" [style.width]="progress + '%'"
                    [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <p class="text-muted mb-0">Change</p>
            <p class="text-muted mb-0">{{ change }}</p>
        </div>
    </div>
</div>