:host ::ng-deep .card-1 {
  background-color: #dfdcf6;
  border-radius: 10px;
}
:host ::ng-deep .card-2 {
  background-color: #ffd4d1;
  border-radius: 10px;
}
:host ::ng-deep .card-3 {
  background-color: #cdffcf;
  border-radius: 10px;
}
:host ::ng-deep .image-top {
  margin-top: -3rem !important;
}
