<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <label class="hoverable" for="tableFileInput">
        <img [src]='todaysAttendance.img' alt="avatar">
      </label>
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="todayForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
            @if (todayForm.get('name')?.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First In</mat-label>
            <input matInput formControlName="first_in">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>access_time</mat-icon>
            @if (todayForm.get('first_in')?.hasError('required')) {
            <mat-error>
              First In is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Break</mat-label>
            <input matInput formControlName="break">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>access_time</mat-icon>
            @if (todayForm.get('break')?.hasError('required')) {
            <mat-error>
              Break is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Out</mat-label>
            <input matInput formControlName="last_out">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>access_time</mat-icon>
            @if (todayForm.get('last_out')?.hasError('required')) {
            <mat-error>
              Last Out is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput formControlName="total">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>access_time</mat-icon>
            @if (todayForm.get('total')?.hasError('required')) {
            <mat-error>
              Total is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="present">present</mat-option>
              <mat-option value="absent">absent</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Shift</mat-label>
            <mat-select formControlName="shift">
              <mat-option value="Day Shift">Day Shift</mat-option>
              <mat-option value="Night Shift">Night Shift</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!todayForm.valid" type="submit">
              Save
            </button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>