<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>Class List</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter (keyup)="applyFilter($event)"
                                        class="browser-default search-field" aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button color="primary" (click)="select.open()"
                                            matTooltip="Show/Hide Column">
                                            <mat-icon>filter_list</mat-icon>
                                            <mat-select #select [(ngModel)]="filter.value"
                                                style="width: 200px; display: table;" class="column-filter">
                                                <span class="table-column-label">Show/Hide Column</span>
                                                @for (cd of columnDefinitions; track cd; let i = $index) {
                                                <div>
                                                    <mat-option>
                                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                            [(ngModel)]="cd.visible" color="primary">
                                                            {{cd.label}}
                                                        </mat-checkbox>
                                                    </mat-option>
                                                </div>
                                                }
                                            </mat-select>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button (click)="addNew()" class="col-green" matTooltip="Add">
                                            <mat-icon>add_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue()>
                                        <button mat-icon-button [hidden]=!selection.hasValue()
                                            (click)="removeSelectedRows()" class="col-red" matTooltip="Delete">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="export-button m-l-10">
                                        <button mat-icon-button (click)="exportExcel()" class="col-blue"
                                            matTooltip="Xlsx Download">
                                            <mat-icon class="material-icons-outlined">file_download</mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="overflow-auto">
                        <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()" color="primary"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'"
                                            color="primary">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                @for (column of columnDefinitions; track column) {
                                <!-- Skip rendering if column.label is "select" or "action" -->
                                @if (column.type === 'check' || column.type === 'actionBtn') {
                                <!-- Skip this column -->
                                } @else {
                                @if (column.type === 'date') {
                                <ng-container [matColumnDef]="column.def">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        <span class="truncate-text">{{ column.label }}</span>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">{{ column.label }}:</span>
                                        <span class="truncate-text">
                                            {{ row[column.def] | date: 'MM/dd/yyyy' }}
                                        </span>
                                    </mat-cell>
                                </ng-container>
                                } @else {
                                @if (column.def === 'status') {
                                <ng-container [matColumnDef]="column.def">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> <span class="truncate-text">{{
                                            column.label
                                            }}</span></mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">{{ column.label }}:</span>
                                        <div>
                                            @switch (row.status) {
                                            @case ('Active') {
                                            <div>
                                                <span class="badge badge-solid-green">{{ row.status }}</span>
                                            </div>
                                            }
                                            @case ('Inactive') {
                                            <div>
                                                <span class="badge badge-solid-orange">{{ row.status }}</span>
                                            </div>
                                            }
                                            }
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                } @else {
                                <ng-container [matColumnDef]="column.def">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        <span class="truncate-text">{{ column.label }}</span>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">{{ column.label }}:</span>
                                        <span class="truncate-text">{{ row[column.def] }}</span>
                                    </mat-cell>
                                </ng-container>
                                }
                                }
                                }
                                }

                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                            (click)="editCall(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'"
                                                [class]="'tbl-fav-edit'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                            (click)="deleteItem(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'trash-2'"
                                                [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                                <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: getDisplayedColumns();"
                                    (click)="editCall(row)" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </table>
                            <!-- Loading spinner -->
                            @if (isLoading) {
                            <div class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            }
                            <!-- context menu start -->
                            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                            </div>
                            <mat-menu #contextMenu="matMenu">
                                <ng-template matMenuContent let-item="item">
                                    <button mat-menu-item (click)="addNew()">
                                        <mat-icon>add_box</mat-icon>
                                        <span>Add Record</span>
                                    </button>
                                    <button mat-menu-item (click)="editCall(item)">
                                        <mat-icon>create</mat-icon>
                                        <span>Edit Record</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteItem(item)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete Record</span>
                                    </button>
                                    <button mat-menu-item (click)="refresh()">
                                        <mat-icon>refresh</mat-icon>
                                        <span>Refresh Record</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>no_encryption</mat-icon>
                                        <span>Disable</span>
                                    </button>
                                    <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                                        <mat-icon>list_alt</mat-icon>
                                        <span> Nested Menu</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                            <mat-menu #nestedmenu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>mail_outline</mat-icon>
                                    <span>Item 1</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>call</mat-icon>
                                    <span>Item 2</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>chat</mat-icon>
                                    <span>Item 3</span>
                                </button>
                            </mat-menu>
                            <!-- context menu end -->

                            @if (isLoading) {
                            <div class="no-results" [style.display]="dataSource.data.length === 0 ? '' : 'none'">
                                No results
                            </div>
                            }
                            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>