<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <app-order-info-box title="Total Students" value="2347" percentageText="18% Higher Than Last Month"
          iconClass="fas fa-graduation-cap" bgClass="bg-c-blue">
        </app-order-info-box>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-order-info-box title="Total Teachers" value="258" percentageText="21% Higher Than Last Month"
          iconClass="fas fa-user-tie" bgClass="bg-c-green">
        </app-order-info-box>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-order-info-box title="Awards" value="27" percentageText="37% Higher Than Last Month"
          iconClass="fas fa-trophy" bgClass="bg-c-yellow">
        </app-order-info-box>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-order-info-box title="Total Earning" value="$25,698" percentageText="10% Higher Than Last Month"
          iconClass="fas fa-dollar-sign" bgClass="bg-c-pink">
        </app-order-info-box>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <app-report-card-widget [heading]="'Fees Collection Report'" [todayCount]="105" [weekCount]="825"
          [monthCount]="22067" [progressPercentage]="74" progressColor="orange">
        </app-report-card-widget>
        <app-report-card-widget [heading]="'New Admission Report'" [todayCount]="107" [weekCount]="268"
          [monthCount]="847" [progressPercentage]="74" progressColor="green">
        </app-report-card-widget>
      </div>
      <!-- area chart -->
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Teacher Performance</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="lineChartOptions.series!" [chart]="lineChartOptions.chart!"
              [xaxis]="lineChartOptions.xaxis!" [stroke]="lineChartOptions.stroke!" [colors]="lineChartOptions.colors!"
              [dataLabels]="lineChartOptions.dataLabels!" [legend]="lineChartOptions.legend!"
              [tooltip]="lineChartOptions.tooltip!" [markers]="lineChartOptions.markers!"
              [grid]="lineChartOptions.grid!" [yaxis]="lineChartOptions.yaxis!">
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- area chart -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Fee Details</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 350px" visibility="hover">
              <app-table-card [dataSource]="feesData" [columnDefinitions]="feesColumnDefinitions"></app-table-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title> Upcomming Class</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 350px" visibility="hover">
              <div class="doc-file-type">
                <app-emp-schedule [schedules]="scheduleList"></app-emp-schedule>
              </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Professors List</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 450px" visibility="hover">
              <app-table-card [dataSource]="professorsData"
                [columnDefinitions]="professorsColumnDefinitions"></app-table-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Top Performer</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <app-top-performer></app-top-performer>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Student Performance Chart</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content>
            <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
              [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
              [grid]="barChartOptions.grid!" [yaxis]="barChartOptions.yaxis!" [xaxis]="barChartOptions.xaxis!"
              [fill]="barChartOptions.fill!" [tooltip]="barChartOptions.tooltip!">
            </apx-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>