:host ::ng-deep .chart-card1 {
  padding: 20px;
  .title {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: flex;
  }
  .subtitle {
    font-size: 12px;
    color: #9aa0ac;
  }
}
