<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <!-- ngx editor -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>ngx editor</h2>
          </div>
          <div class="body">
            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor!" [toolbar]="toolbar!"> </ngx-editor-menu>
              <ngx-editor [editor]="editor!" [placeholder]="'Type here...'" class="NgxEditorStyles"></ngx-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# ngx editor -->
  </div>
</section>