<div class="appointment-card">
    <p class="total-revenue">Total Appointments</p>
    <p class="appointment-amount">{{ totalAppointments }}</p>
    <div class="appointment-details">
        <div class="appointment-item income">
            <span class="amount">{{ completed }}</span>
            <span class="label">Completed</span>
        </div>
        <div class="appointment-item expense">
            <span class="amount">{{ upcoming }}</span>
            <span class="label">Upcomming</span>
        </div>
    </div>
</div>